<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Hello Bulma!</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Gugi&display=swap" rel="stylesheet">
  <style>
    .ml6 {
      position: relative;
      font-weight: 900;
      font-size: 2.3em;
      text-align: center;
      color: black;
    }

    .ml6 .text-wrapper {
      position: relative;
      display: inline-block;
      padding-top: 1.6em;
      padding-right: 0.05em;
      padding-bottom: 0.1em;
    }

    .ml6 .letter {
      display: inline-block;
      line-height: 0.9em;
    }

    * {
      font-family: 'Gugi', cursive;
    }
 
    #modalButton2 {
      margin-top: 20px;
    } 

    html {
      background-size: cover;
      background-color: antiquewhite;
    }

     .navbar {
      background-color: antiquewhite;
    }

    #submitEmail {
      margin-bottom: 10px;
    }

    .button {
      font-family: 'Gugi', cursive;

    }
    #mailAuthVerify{
      margin-top:10px;
    } 
  </style>
</head>

<body>
  <section class="section">
    <div class="container">
      <nav class="navbar" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
          <a class="navbar-item" href="/">
            <img src="/bulma-logo (1).png" width="112" height="28"> 
            <!-- 로고 들어감 -->
          </a>
      </nav>
      <h1 class="ml6">
        <span class="text-wrapper">
          <span class="letters">메일보냈삼</span>
        </span>
      </h1>
      
        

    </div>
  </section>

  
  <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/2.0.2/anime.min.js"></script> -->
  <script src="/bulmaModal.js"></script>
  <script src="/textAnime.js"></script>
  <script src="/randomName.js"></script>
  <script src="/app.js"></script>
  <!-- JQuery CDN: https://releases.jquery.com/ -->
  <script src="https://code.jquery.com/jquery-3.6.1.min.js"></script>
  <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>

  <script>

      


    
  </script>
</body>

</html>