<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>ASSAA</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Gugi&display=swap" rel="stylesheet">
    <link href="https://vjs.zencdn.net/7.20.2/video-js.css" rel="stylesheet" />
    <script type="text/javascript" src="/socket.io/socket.io.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.1.min.js"></script>
    <!--모달창 드래그앤 드랍을 할 수 있도록하는 제이쿼리-->
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@1,300&display=swap" rel="stylesheet">
    <link href="//cdn.jsdelivr.net/npm/@sweetalert2/theme-default@4/default.css" rel="stylesheet">

    
  </head>
  <body>
    <style>
        html{
        background-size: cover;
        background-color: antiquewhite;
      }
      .navbar{
        background-color: antiquewhite;
      }
      *{
        font-family: 'Gugi', cursive;
      }
      .button{
        font-family: 'Gugi', cursive;
      }
      .message{
        margin-top:30px;
      }
      #h2{
        text-align: center;
        margin-top:10px;
      }
      #video{
        background-color: black;
        margin: auto;
        height: 330px;
        text-align: center;
      }
      .timerGroup{
        margin-top: 10px;
      }
      #longButton /*#profileButton*/{
        display: none;
      }
      #help{
        color:lightcoral;
      }
      button#chatButton{
        width: 100%;
        margin-bottom: 20px;
      }
      .chatbox {
        border: 2px solid #dedede;
        background-color: #ffffff;
        border-radius: 5px;
        padding: 10px;
        margin: 10px 0;
        height: 100px  ;
        overflow: auto;
        /* text-align: right; */
        
        }   
      .card{
        position: absolute;
        top: 100px;
        left: 10px;

        display: none;
      }
      #myFace{
        margin: auto;
        width: 100%; /*top: 310px*/
      }
      #peervideo{
        position: absolute;
        left: 68%;
        top:37%;
        width:100px;
        height:100px;
      }
      #peerFace{
        margin: auto;
      }
      #buttonGroup{
        margin: 10px;
      }
      #cameraUse{
        display: none;
      }
      .lds-ring {
        display: none;
        position: absolute;
        width: 80px;
        height: 80px;
        top: 30%; 
        left: 40%; 
        align-items: center;
        z-index: 1;
      }
      .lds-ring div {
        box-sizing: border-box;
        display: block;
        position: absolute;
        text-align: center;
        width: 64px;
        height: 64px;
        margin: 8px;
        border: 8px solid #fff;
        border-radius: 50%;
        animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
        border-color: #fff transparent transparent transparent;
      }
      .lds-ring div:nth-child(1) {
        animation-delay: -0.45s;
      }
      .lds-ring div:nth-child(2) {
        animation-delay: -0.3s;
      }
      .lds-ring div:nth-child(3) {
        animation-delay: -0.15s;
      }
      @keyframes lds-ring {
        0% {
          transform: rotate(0deg);
        }
        100% {
          transform: rotate(360deg);
        }
      }
      .bubble-right { 
        background: #ffff00;
        border-radius: 10px;
        /* flex-direction: row-reverse; */
        /* align-items: flex-start; */
        /* width:fit-content; */
        padding:8px;
        /* text-align: right; */
        display: table;
        margin-left: auto;
      }
      /* 상대방 말풍선임 */
      .bubble-left{
        background: #c0c0c0;
        border-radius: 10px;
        /* flex-direction: row-reverse; */
        /* align-items: flex-start; */
        width:fit-content;
        padding:8px;
        /* text-align: right; */
       
      }
      video{
        transform: rotateY(180deg);
        -webkit-transform:rotateY(180deg); /* Safari and Chrome */
        -moz-transform:rotateY(180deg); /* Firefox */
    }

    .call-container {
      margin-top: 10px;
  max-width: 400px;
  padding: 20px;
  border-radius: 20px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.call-avatar1 {
  width: 80px;
  height: 80px;
  border-radius: 35%;
  overflow: hidden;
  margin-bottom: 20px;
  
}
.call-avatar2 {
  width: 80px;
  height: 80px;
  border-radius: 35%;
  overflow: hidden;
  margin-bottom: 20px;
  
}
.icon{
  width: 30px;
  height: 30px;
  border-radius: 50%;
  overflow: hidden;
  margin-top: 20px;
}
.iconBig{
  width: 60px;
  height: 60px;
  border-radius: 50%;
  overflow: hidden;
  margin-top: 10px;
  margin-bottom: 10px;
}

.avatar-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.call-info {
  text-align: center;
  margin-bottom: 20px;
}

.call-name {
  font-size: 24px;
  margin-bottom: 5px;
}

.call-status {
  font-size: 18px;
  color: #999;
}

.call-actions {
  border-radius: 30px;

  display: flex;
  justify-content: space-around;
  width: 100%;
  margin-top: 50px;
  background-color: white;
}

.call-actions button {
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 10px;
  border: none;
  color: #fff;
}


.shine {
  box-shadow: 0 0 30px 10px #fff, 0 0 20px 5px #fff, 0 0 10px 2px #fff;
  animation: shine 99s ease-in-out infinite;
}

@keyframes shine {
  0.5% {
    box-shadow: 0 0 30px 10px #ffdd00, 0 0 20px 5px #ffdd00, 0 0 10px 2px #ffdd00;
  }
  25% {
    box-shadow: 0 0 30px 10px #ffdd00, 0 0 20px 5px #ffdd00, 0 0 10px 2px #ffdd00;
  }
  100% {
    box-shadow: 0 0 30px 10px #ffdd00, 0 0 20px 5px #ffdd00, 0 0 10px 2px #ffdd00;
  }
}
    </style>
  <section class="section">
    <div class="container">
        <nav class="navbar" role="navigation" aria-label="main navigation">
            <div class="navbar-brand">
              <a class="navbar-item" href="/">
                <img id="logo" src="/bulma-logo (1).png" width="112" height="28"><!--이 부분 합침-->
              </a>
              <div class="navbar-item">
                <div class="buttons">
                  <a class="button is-light" id="signup" href="/" style="padding: 10px;">
                    <strong class=>나가기</strong>
                  </a>
                  
                  
                </div>
              </div>
            </div>
          </nav>
          <!-- <label id="currentUser" style="float: left;"></label> -->
          <!-- 아이디 video로 된 곳이 검은 화면으로 채워진곳임 -->
            <!--<button id="mute">Unmute</button>
            <button id="camera">Camera On</button>-->
            <div class="call-container">
              <div class="call-avatar1">
                <img src="/user.png" alt="Avatar" class="avatar-img">
                <video id="myFace" autoplay="autoplay" playsinline style="display: none;"></video>

              </div>
              <div class="call-info">
                <h2 class="call-name" id="you">당신</h2>
                <p class="call-status">Online</p>
                
              </div>
              
            </div>
            <div class="call-container" id="peerFaced" style="display: none;" >
              <div class="call-avatar2">
                <img id="otherAvatar" src="/user.png" alt="Avatar" class="avatar-img">
                <video id="peerFace" autoplay="autoplay" playsinline style="display: none;"></video>

              </div>
              <div class="call-info">
                <h2 class="call-name" id="other">상대방</h2>
                <p class="call-status">Connected</p>
              </div>
             
              
            </div>
            <div class="call-actions">
              <!-- <button class="button is-success" id="startButton">Find call</button>
              <button class="button is-info" id="mute">Mute</button>
              <button class="button is-link" disabled id="camera">Camera on</button> -->
              <img id="mute" class="icon" src="/speaker.png" alt="">
              <img id="startButton" class="iconBig" src=/call.png alt="">
              <img id="info" class="icon" src="/info.png" alt="">
            </div>
            <!-- <div id="myvideo">
              <div class="lds-ring"><div></div><div></div><div></div><div></div></div>
              <video id="myFace" autoplay="autoplay" playsinline style="border-radius: 10px;"></video>
              <div id="peervideo">
                <video id="peerFace" autoplay="autoplay" playsinline style="border-radius: 10px;"></video>
              </div>
            </div>        
            <button class="button is-link" id="mute" style="padding: 10px;">Mute</button>
            <button class="button is-link" id="camera" style="padding: 10px;">Camera Off</button>
          
           -->
          <!-- <div class="chatbox "> 
          </div>


          <div class="field">
            <div class="control" >
              <form type="submit" id="chatBtn">
                <input class="input" type="text" id="userText" >
              </form>
            </div>
          </div>
        -->
          <!-- <button class="button is-success is-large is-fullwidth is-rounded" id="startButton">시작하기</button>
          <p>
            <label for="Timer" id="timer">Time: 00:00 </label>
            <button class="button is-light is-small is-rounded " id="longButton">1분 연장</button>
          </p>

           -->



          

      
        
          
    </div>
  </section>
  
  <script src="https://unpkg.com/peerjs@1.4.7/dist/peerjs.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.5.0/socket.io.min.js"></script>
  <script src="//cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.js"></script>
  <script src="./video.js"></script>
  <script src="./socket.js"></script><!--socket.js를 따로 만듦-->

  <script>
    let userAgent = window.navigator.userAgent;
    let isChrome = userAgent.indexOf('Chrome');
    let isChromeMobile = userAgent.indexOf('CriOS');
    let isSamsungBrowser = userAgent.indexOf('SamsungBrowser');
    let isWindows = userAgent.indexOf('Windows NT');
    let isEdge = userAgent.indexOf('Edge');
    let isIE = userAgent.indexOf('Trident');
    let isEverytime = userAgent.indexOf('everytime');
    let you = document.querySelector('#you');
    you.innerHTML= JSON.parse(localStorage.getItem('name'));
    // 크롬 브라우저 체크
    if(isChrome > -1 || isChromeMobile > -1){
      if(isSamsungBrowser < 0 && isEdge < 0 && isEverytime< 0){
        console.log('지원하는 브라우저입니다');
      } 
      else{
        alert('지원하지 않는 브라우저입니다.')
          location.href='/';
      }
    }
    else{
      alert('지원하지 않는 브라우저입니다.')
          location.href='/';
    }

    let info = document.querySelector('#info');
    info.addEventListener('click',()=>{
      Swal.fire({
        text: "Contact: junemuk10@gmail.com",
      showClass: {
        popup: 'animate__animated animate__fadeInDown'
      },
      hideClass: {
        popup: 'animate__animated animate__fadeOutUp'
      }
    })
    })
    
    
  </script>
  </body>
</html>

<!-- <script src="https://unpkg.com/peerjs@1.4.7/dist/peerjs.min.js"></script> -->
